@model IEnumerable<ProductCatalog.Domain.Products.LookUp>

@{
    ViewData["Title"] = "List";
}

<table class="table table-bordered">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>

            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>

                <!--<td>-->
                    @*<button class="btn btn-light mr-2">@Html.ActionLink("MasterEdit", "MasterEdit", new { id = item.Id })</button>
                    <button class="btn btn-light">@Html.ActionLink("MasterDelete", "Delete", new { id = item.Id })</button>*@
                <!--</td>-->
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="LookUpData">Back </a>
</p>