
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UILayer1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/SideBar.css" />
    <link rel="stylesheet" href="~/css/footer.css" />
    <link rel="stylesheet" href="~/css/navigation-bar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css\bootstrap.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />


</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" asp-action="Index">MOBIZONE</a>



            <div>
                <i class="fa-solid fa-cart-shopping"></i>
                <a class="mr-3" asp-controller="User" asp-action="UserRegister">Register</a>
                <i class="fa-solid fa-cart-shopping"></i>
                <a class="mr-3" asp-controller="User" asp-action="Login">Login</a>
                <i class="fa-solid fa-cart-shopping"></i>
                <a class="mr-3">Account</a>
            </div>

        </div>
    </nav>

   
    <div class="content ">
        <div class="container-fluid">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>


   @*<footer class="border-top footer text-muted">
    <div class="text-center">
       
        <li class="about">
            <a asp-controller="Admin" asp-action="About" style="margin-right:-86px">About</a>
        </li>

        <li class="about">
            <a asp-controller="Admin" asp-action="Privacy" style="margin-right:-86px">Privacy Policy</a>
        </li>

        <li class="about">

            <a asp-controller="Admin" asp-action="Contact" style="margin-right:-86px">Contact</a>

        </li>
    </div>



    <li>
        <img src="~/Images/logo.png" alt="Mobizone" />

    </li>



    <hr><div class="text-center">
        <li>
            <img src="~/Images/copyright.png" alt="Mobizone" style="height:18px; width:18px;" />
            <a href=#> Mobizone private limited all right reserved</a>
        </li>
    </div>
       
    </ul>
</footer>*@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
@*@await Component.InvokeAsync("Notyf")*@
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>


